.root {
  display: flex;
  flex-direction: row;
  padding: 12px;
  padding-left: 24px;
  padding-right: 19px;
  .inner {
    width: 100%;
    .balance {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
    }
    .topUpButton {
      height: 24px !important;
      border-radius: 4px !important;
    }
    .wrapButton {
      height: 22px !important;
      width: 100%;
      border-radius: 4px !important;
      background: rgba(27, 29, 44, 0.6);
      .wrapIcon {
        margin-left: 3px;
        &.loading {
          animation: spin 3s linear infinite;
        }
      }
    }
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
