.root {
  .items {
    padding: 15px 27px;
    & > :not(:last-child) {
      margin-bottom: 5px;
    }
    & > :first-child {
      margin-bottom: 12px;
    }
  }

  .copy {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
  }
}
