.root {
  .items {
    padding: 6px 18px;
    &>:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  .copy {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
  }
}
