.wrapper {
  flex: 1;
  overflow-y: scroll;
  .root {
    position: relative;
    padding: 15px 27px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    .grid {
      margin-top: 8px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      grid-auto-rows: minmax(min-content, max-content);
      padding-bottom: 60px;
      .card {
        .title {
          font-size: 14px;
          line-height: 16px;
        }
        .imageContainer {
          position: relative;
          .lock {
            position: absolute;
            right: 4px;
            bottom: 6px;
          }
        }
      }
    }
  }
}

.buttonRoot {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8px 8px 8px 14px;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
    .buttonInner {
      background: linear-gradient(90deg, #ffa620 0%, #ef5b25 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
  .rightIcon {
    margin-left: 4px;
  }
}
