.drawerRoot {
  background-color: #3b3e5d;
  padding: 13px;
  .profileHeader {
    display: grid;
    grid-template-columns: 33px 1fr 33px;
    .connectionInfo {
      grid-column-start: 2;
    }
    .closeBtn {
      width: 33px;
      height: 33px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      .arrowIconGradient {
        display: none;
      }
      &:hover {
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        .arrowIconGradient {
          display: block;
        }
        .arrowIconDefault {
          display: none;
        }
      }
    }
  }
  .address {
    display: flex;
    align-items: center;
    padding: 3px 9px;
    border-radius: 10px;
    .copyIconGradient {
      display: none;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      cursor: pointer;
      .copyIconGradient {
        display: block;
      }
      .copyIcon {
        display: none;
      }
    }
  }
  .scanBtn {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 10px;
    .scanIconGradient {
      display: none;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      cursor: pointer;
      .scanIconGradient {
        display: block;
      }
      .scanIcon {
        display: none;
      }
    }
  }
  .latestTitle {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }
  .activityCard {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px 12px;
    .activityCardIcon {
      width: 31px;
      height: 31px;
      background: #0ccdaa;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      path {
        fill-opacity: 1;
      }
    }
    .arrowIcon {
      margin-left: auto;
    }
    .date {
      color: #0ccdaa;
    }
    &:hover {
      background: rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }
  }
}

.qrCodeDrawer {
  background-color: #3b3e5d;
  padding: 13px;
  .content {
    margin-top: 120px;
    .address {
      font-size: 24px;
      font-weight: 700;
    }
  }
}

.network {
  display: flex;
  flex-direction: row;
  align-items: center;
  .status {
    flex: 0 0 auto;
    height: 6px;
    width: 6px;
    margin-right: 5px;
    border-radius: 50%;
    &.ok {
      background-color: #0ccdaa;
    }
    &.bad {
      background-color: #f4501b;
    }
  }
  .name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 11px;
    line-height: 12px;
  }
}
