.buyNowBtn {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 135.29px;
    height: 33.82px;
    position: absolute;
    left: 20px;
    top: 83px;
    font-weight: 700;
    font-size: 14px !important;
    line-height: 16px;
}
